body {
    background: lavenderblush;
    font-family:"Times New Roman", Times, serif;
    margin: 40px;
}

h1 {
    color: saddlebrown;
    text-align: center;
}

.about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid saddlebrown;
}

.projects {
    /* form the section blobs */
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: saddlebrown;
    /* rounded corners for the blobs */
    border-radius: 25%;
}
.projects h3 {
    /* pull the h3 text away from the left blob wall */
    margin-left: 50px;
}

.projects img {
    /* adjust your image sizes as needed */
    width: 400px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid saddlebrown;
    display: block;
    /* center the images inside the blobs */
    text-align: center;
}

.projects img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px solid saddlebrown;
    display: block;
    margin: auto;
}

.projects p {
    /* center the p text in the blob */
    text-align: center;
    margin: 15px;
}
